# Swift Package Manager
/.build
/Packages

# Xcode
/.swiftpm

# macOS
.DS_Store

# Project-specific settings
/Playground/**

# Fuzzing & benchmarking
__pycache__/
Benchmarking/src/
Benchmarking/out/
Benchmarking/*.csv

# Scala
target/
lib_managed/
project/boot/
project/plugins/project/
